<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Crear pedido
    </ion-title>
  </ion-toolbar>
</ion-header>
<div slot="fixed">
    <ion-row style="padding: 0 !important;">
        <ion-col *ngFor="let opt of ['Primeros','Segundos','Postres']">
          <ion-button expand="full" color="tertiary" (click)="navChange(opt)" no-margin>{{opt}}</ion-button>
        </ion-col>
    </ion-row>

    <lista-platos *ngIf="showType=='Primeros'" [platos]="platos1" (OutPlato)="add($event)"></lista-platos>
    <lista-platos *ngIf="showType=='Segundos'" [platos]="platos2" (OutPlato)="add($event)"></lista-platos>
    <lista-platos *ngIf="showType=='Postres'" [platos]="postres" (OutPlato)="add($event)"></lista-platos>
        
    <ion-row>
      <ion-col>
          <ion-button text-center (click)="confirmarPedido()" expand="full" color="success" no-margin>Confirmar</ion-button>
      </ion-col>        
      <ion-col>
          <ion-button text-center (click)="resetPedido()" expand="full" color="danger" no-margin>Cancelar</ion-button>
      </ion-col>
      <ion-col color="tertiary">
        <ion-button expand="full" color="danger" color="tertiary" style="text-align: center;" no-margin>
          {{precioTotal | number:'.2'}}&#8364;
        </ion-button>
      </ion-col>
    </ion-row>
      
</div>
<ion-content>  
  <tabla-platos [pedidos]="pedidos" (addPlato)="add($event)" (subPlato)="sub($event)" (removePlato)="remove($event)"></tabla-platos>
  <ion-label *ngIf="pedidos.length==0">Esperando pedido...</ion-label>
</ion-content>
