<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Mis pedidos
    </ion-title>
    <ion-segment scrollable="true" (ionChange)="setFilteredItems($event)" value={{opciones[0]}}>
      <ion-segment-button size="small" *ngFor="let aux of opciones" value="{{aux}}">
          <ion-label>{{aux}}s</ion-label>       
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Creado</th>
        <th>Entrega</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of MisPedidos">
          <td>{{item.idPedido}}</td>
          <td>{{item.fechaServicio | date:'d/M/yy '}}</td>
          <td>{{item.fechaEntrega | date:'d/M/yy '}}</td>
          <td>{{item.state}}</td>
          <td>
            <ion-button color="info" fill="outline" size="small" (click)="showDetails(item)"><ion-icon size="small" slot="icon-only" name="information-circle-outline"></ion-icon></ion-button>
            <ion-button *ngIf="item.state=='ENTREGADO'" color="tertiary" fill="outline" size="small" (click)="pay(item)"><ion-icon  size="small" slot="icon-only" name="card"></ion-icon></ion-button>
            <ion-button *ngIf="item.state=='EMITIDO'" color="danger" fill="outline" size="small" (click)="cancel(item)"><ion-icon  size="small" slot="icon-only" name="close"></ion-icon></ion-button>  
          </td>
      </tr>
    </tbody>
  </table>
</ion-content>