
ion-row{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    ion-col{
        padding: 2px !important;
        
        ion-button{
            border: 1px solid white;
        }
        
    }
}